{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accueil_utilisateur/css/tailwindcss-colors.css' %}">
    <link rel="stylesheet" href="{% static 'accueil_utilisateur/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'accueil_utilisateur/css/publier_video.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://vjs.zencdn.net/5.10.4/video-js.css" rel="stylesheet">

    <title>Chat</title>
</head>
<body>
{% url 'Utilisateur:accueil_utilisateur' as accueil_utilisateur %}
{% url 'Utilisateur:acceuil' as Acceuil %}
{% url 'Utilisateur:detail_utilisateur' utilisateur_detail_id=utilisateur_detail.id as detail_url %}
<style>
    .video-container {
        width: 100%;
        padding-bottom: 56.25%; /* Aspect ratio 16:9 */
        position: relative;
        margin-bottom: 20px;
    }

    .video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .full-screen-video {
        width: 100%;
        height: 100vh; /* La vidéo occupe toute la hauteur de la fenêtre */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100vh;
    }

    .full-screen-video video {
        max-width: 100%;
        max-height: 100%;
    }
    .preview-container {
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        min-height: 200px;
        max-height: 500px;
        overflow-y: auto;
    }
    .preview-container .preview-item {
        position: relative;
    }
    .preview-container img.preview-image {
        min-width: 550px;
        max-width: 550px;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        border: 1px solid #ddd;
    }
    .preview-container .remove-btn {
        position: absolute;
        top: 5px;
        left: 5px;
        background: red;
        color: white;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 12px;
    }
    #audioPreviewContainer {
        display: flex;
        align-items: center;
        padding: 8px;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        background-color: #f0f0f0;
    }
    #audioControls {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-left: 10px;
    }

    button {
        background-color: #fff;
        border: none;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #007bff;
    }
    #removeAudioButton {
        background-color: transparent;
        border: none;
        color: #ff5c5c;
        cursor: pointer;
        margin-left: auto;
    }

    /* Barre de progression */
    #progressBar {
        width: 150px;
        height: 4px;
        background-color: #e0e0e0;
        border-radius: 2px;
        appearance: none;
    }

    #progressBar::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 8px;
        height: 8px;
        background-color: #007bff;
        border-radius: 50%;
        cursor: pointer;
    }

.message-image_afficher{
    max-width: 400px;
    min-width: 300px;
    height: auto;
}
</style>
<section class="chat-section">
    <div class="chat-container">
        <aside class="chat-sidebar">
            <a href="#" class="chat-sidebar-logo">
                <i class="ri-chat-1-fill"></i>
            </a>
            <ul class="chat-sidebar-menu">
                <li class="{% if request.path == Acceuil %}active{% else %} {% endif %}"><a href="{% url 'Utilisateur:acceuil' %}" data-conversation="#Acceuil" data-title="Acceuil"><i class="bi bi-play-btn"></i></a></li>
                <li>
                    <a class="show-modal" id="gallery-link" data-conversation="#Acceuil" data-title="Acceuil">
                        <i class="bi bi-plus-circle-fill"></i>
                    </a>
                    <section>
                        <span class="overlay"></span>
                        <div class="modal-box">
                            <i class="fa-regular fa-circle-check"></i>
                            <h2>Completed</h2>
                            <div id="video-form-container">
                                <form id="video-form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="file" id="file-input" accept="video/*" name="video_file">
                                    <input type="text" id="="  name="titre">
                                    <button type="button" id="submit-btn">Publier</button>
                                </form>
                            </div>
                            <div class="buttons">
                                <button class="close-btn">Ok, Close</button>
                            </div>
                        </div>
                    </section>
                </li>
                <li class="chat-sidebar-profile">
                    <button type="button" class="chat-sidebar-profile-toggle">
                        <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
                    </button>
                    <ul class="chat-sidebar-profile-dropdown">
                        <li><a href="#"><i class="ri-user-line"></i> Profile</a></li>
                        <li><a href="#"><i class="ri-logout-box-line"></i> Deconnexion</a></li>
                    </ul>
                </li>
                <li class="{% if request.path == Acceuil %}active{% else %} {% endif %}"><a href="{% url 'Utilisateur:acceuil' %}" data-conversation="#Acceuil" data-title="Acceuil"><i class="bi bi-play-btn"></i></a></li>
                <li class="{% if request.path == accueil_utilisateur %}active{% else %} {% endif %}"><a href="{% url 'Utilisateur:accueil_utilisateur' %}" data-title="Chats" data-conversation="#Chats"><i class="ri-chat-3-line"></i></a></li>
                <li><a href="#" data-title="Contacts" data-conversation="#contact"><i class="ri-contacts-line"></i></a></li>
                <li class="chat-sidebar-profile">
                    <button type="button" class="chat-sidebar-profile-toggle">
                        <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
                    </button>
                    <ul class="chat-sidebar-profile-dropdown">
                        <li><a href="#"><i class="ri-user-line"></i> Profile</a></li>
                        <li><a href="#"><i class="ri-logout-box-line"></i> Deconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
        <div class=" chat-content">
            <div class="conversation {% if request.path == Acceuil %}active{% else %} {% endif %}"  id="Acceuil">
                <div class="conversation-main">

                    <div class="content-messages" id="section_video">
                        {% for video_publier in video_publier %}
                            <div class="full-screen-video">
                                <video class="video" controls>
                                    <source src="{{ video_publier.video_file.url }}" type="video/mp4">
                                </video>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="conversation {% if request.path == accueil_utilisateur %}active{% else %} {% endif %}"  id="Chats">
                <div class="conversation-main">
                    <div class="content-messages">
                        <ul class="content-messages-list">
                            <li class="content-message-title"><span>Utilisateur</span>
                                {% if utilisateurs %}
                                    {% for utilisateur in utilisateurs %}
                                        <li >
                                            <a href="{% url 'Utilisateur:detail_utilisateur' utilisateur_detail_id=utilisateur.id %}" class="lien-utilisateur" data-utilisateur-id="{{ utilisateur.id }}">
                                                <img class="content-message-image" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
                                                <span class="content-message-info">
                                                    <span class="content-message-name">{{ utilisateur.nom }} {{ utilisateur.prenom }}</span>
                                                    <span class="content-message-text">Ecrire a cet utilisateur</span>
                                                </span>
                                                <span class="content-message-more">
                                                    <span class="content-message-unread"><i class="bi bi-chat"></i></span>
                                                </span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% if utilisateur_detail %}
                <div class="conversation conversation_message {% if request.path == detail_url %}active{% else %} {% endif %}" id="conversation-1" data-utilisateur-id="{{ utilisateur_detail.id }}" >
                    <div class="conversation-top">
                        <a class="conversation-back" href="{% url 'Utilisateur:accueil_utilisateur' %}"><i class="ri-arrow-left-line"></i></a>
                        <div class="conversation-user">
                            <img class="conversation-user-image" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
                            <div>
                                <div class="conversation-user-name">{{ utilisateur_detail.nom }} {{ utilisateur_detail.prenom }}</div>
                                <div class="conversation-user-status online">En ligne</div>
                            </div>
                        </div>
                        <div class="conversation-buttons">
                            <button type="button"><i class="ri-phone-fill"></i></button>
                            <button type="button"><i class="ri-vidicon-line"></i></button>
                            <button type="button"><i class="ri-information-line"></i></button>
                        </div>
                    </div>
                    <div class="conversation-main" id="conversation-main">
                        <ul class="conversation-wrapper" id="conversation-wrappers">
                        </ul>
                    </div>
                    <div id="audioPreviewContainer" style="display: none;">
                        <audio id="audioPreview"></audio>
                        <div id="audioControls">
                            <button id="playButton"><i class="bi bi-play-circle-fill"></i></button>
                            <button id="pauseButton"><i class="bi bi-stop-circle"></i></button>
                            <input type="range" id="progressBar" min="0" max="100" value="0" step="0.1">
                        </div>
                        <button id="removeAudioButton"><i class="bi bi-trash"></i></button>
                    </div>
                    <form class="conversation-form message_image" id="message-form">
                        {% csrf_token %}
                        <input type="hidden" name="utilisateur_id" value="{{ utilisateur_detail.id }}">
                        <button class="recordButton" id="recordButton"><i style="font-size: 25px;" class="bi bi-mic"></i></button>
                        <input type="file" id="audioInput" name="audio" style="display: none;">
                        <div class="conversation-form-group">
                            <textarea id="message-input" name="contenu_message" class="conversation-form-input" rows="1" placeholder="Écrivez..."></textarea>
                            <input class="image_input" id="image_input" type="file" name="images" multiple accept="image/*">
                            <button type="button" class="conversation-form-record"><i style="font-size: 25px;" class="bi bi-image"></i></button>
                        </div>
                        <button type="submit" class="conversation-form-button conversation-form-submit"><i class="ri-send-plane-2-line"></i></button>
                    </form>
                </div>
            {% endif %}
            <div class="conversation "  id="contact">
                <div class="conversation-main">
                    <div class="content-messages">
                        <ul class="content-messages-list">
                            <li class="content-message-title"><span>Recent</span>
                                {% if utilisateurs %}
                                    {% for utilisateur in utilisateurs %}
                                        <li>
                                            <a href="" class="lien-utilisateur">
                                                <img class="content-message-image" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
                                                <span class="content-message-info">
                                                    <span class="content-message-name">{{ utilisateur.nom }} {{ utilisateur.prenom }}</span>
                                                    <span class="content-message-text">Ecrire a cet utilisateur</span>
                                                </span>
                                                <span class="content-message-more">
                                                    <span class="content-message-unread"><i class="bi bi-chat"></i></span>
                                                </span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="preview-container" id="preview-container">
</div>
<script>
    let audioChunks = [];
    let audioRecorder;
    let isRecording = false;
    navigator.mediaDevices.getUserMedia({ audio: true })
        .then(stream => {
            audioRecorder = new MediaRecorder(stream);
            audioRecorder.ondataavailable = event => {
                audioChunks.push(event.data);
            };
            audioRecorder.onstop = () => {
                const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });
                const audioFile = new File([audioBlob], 'audio.webm', { type: 'audio/webm' });
                document.getElementById('audioInput').files = FileListItems([audioFile]);
                const audioPreviewContainer = document.getElementById('audioPreviewContainer');
                const audioPreview = document.getElementById('audioPreview');
                const audioURL = URL.createObjectURL(audioBlob);
                audioPreview.src = audioURL;
                audioPreviewContainer.style.display = 'block';

                audioChunks = [];
            };
        })
        .catch(error => {
            console.error("Erreur lors de l'accès au microphone : ", error);
        });

    const recordButton = document.getElementById('recordButton');
    recordButton.addEventListener('click', () => {
        if (isRecording) {
            if (audioRecorder) {
                audioRecorder.stop();
                isRecording = false;
                recordButton.innerHTML = '<i style="font-size: 25px;" class="bi bi-mic"></i>';
            } else {
                console.error("audioRecorder n'est pas défini");
            }
        } else {
            if (audioRecorder) {
                audioRecorder.start();
                isRecording = true;
                recordButton.innerHTML = '<i style="font-size: 25px;" class="bi bi-stop"></i>';
            } else {
                console.error("audioRecorder n'est pas défini");
            }
        }
    });
    $(document).ready(function() {
        $('#message-form').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            formData.append('utilisateur_id', $('#conversation-1').data('utilisateur-id'));
            const textContent = $('#message-input').val().trim();
            const files = document.querySelector('input[name="images"]').files;
            const audioFile = document.querySelector('input[name="audio"]').files[0];
            let url;
            if (textContent && files.length > 0) {
                console.error("Les deux texte et images sont sélectionnés, veuillez n'en choisir qu'un seul.");
                return;
            } else if (textContent) {
                url = '{% url "Utilisateur:envoyer_message_text" %}';
            } else if (files.length > 0) {
                url = '{% url "Utilisateur:envoyer_message_images" %}';
            } else if (audioFile) {
                url = '{% url "Utilisateur:envoyer_message_audio" %}';
            } else {
                console.error("Aucune entrée valide (texte, image ou audio) détectée.");
                return;
            }
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    $('#conversation-main').scrollTop($('#conversation-main')[0].scrollHeight);
                    $('#preview-container').empty();
                    $('#message-input').val('');
                    $('#image_input').val('');
                    $('#audioInput').val('');
                    $('#audioPreviewContainer').hide();
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
    const audioElement = document.getElementById('audioPreview');
    audioElement.controls = false;
    const playButton = document.getElementById('playButton');
    const pauseButton = document.getElementById('pauseButton');
    const progressBar = document.getElementById('progressBar');
    const removeAudioButton = document.getElementById('removeAudioButton');
    removeAudioButton.addEventListener('click', () => {
        audioPreviewContainer.style.display = 'none';
        document.getElementById('audioInput').value = '';
    });
    playButton.addEventListener('click', () => {
        audioElement.play();
    });
    pauseButton.addEventListener('click', () => {
        audioElement.pause();
    });
    audioElement.addEventListener('timeupdate', () => {
        const progressValue = (audioElement.currentTime / audioElement.duration) * 100;
        progressBar.value = progressValue;
    });
    progressBar.addEventListener('input', () => {
        const newTime = (progressBar.value / 100) * audioElement.duration;
        audioElement.currentTime = newTime;
    });


    function FileListItems(files) {
        const dataTransfer = new DataTransfer();
        files.forEach(file => dataTransfer.items.add(file));
        return dataTransfer.files;
    }
    function updateFileInput() {
        const previewContainer = document.getElementById('preview-container');
        const imageInput = document.getElementById('image_input');
        const files = [];
        previewContainer.querySelectorAll('.preview-item').forEach(previewItem => {
            const img = previewItem.querySelector('image_preview');
            if (img && img.dataset.file) {
                const file = new File([img.dataset.file], img.alt, { type: 'image/*' });
                files.push(file);
            }
        });
        imageInput.files = FileListItems(files);
    }
    function addPreviewImage(imageFile) {
        const previewContainer = document.getElementById('preview-container');
        const previewItem = document.createElement('div');
        previewItem.classList.add('preview-item');
        const imgElement = document.createElement('img');
        imgElement.classList.add('image_preview');
        imgElement.src = URL.createObjectURL(imageFile);
        imgElement.classList.add('preview-image');
        imgElement.dataset.file = imageFile;
        imgElement.alt = imageFile.name;
        const removeBtn = document.createElement('button');
        removeBtn.classList.add('remove-btn');
        removeBtn.innerHTML = '<i class="bi bi-archive-fill"></i>';
        removeBtn.addEventListener('click', function() {
            previewItem.remove();
            updateFileInput();
        });
        previewItem.appendChild(imgElement);
        previewItem.appendChild(removeBtn);
        previewContainer.appendChild(previewItem);
        updateFileInput();
    }
    document.querySelector('input[name="images"]').addEventListener('change', function(event) {
        const files = event.target.files;
        for (const file of files) {
            addPreviewImage(file);
        }
    });
    $(document).ready(function() {
        $('#message-form').on('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            const imageInput = document.getElementById('image_input');
            const files = imageInput.files;
            files.forEach(file => formData.append('images', file));
            $('#preview-container').empty();
            $('#message-input').val('');
            $('#image_input').val('');
        });
    });

</script>
<script>
    $(window).on('load', function() {
        $('#conversation-main').scrollTop($('#conversation-main')[0].scrollHeight);
    });
</script>
<script>
    const section = document.querySelector("section"),
        overlay = document.querySelector(".overlay"),
        showBtn = document.querySelector(".show-modal"),
        closeBtn = document.querySelector(".close-btn");

    showBtn.addEventListener("click", () => section.classList.add("active"));

    overlay.addEventListener("click", () =>
        section.classList.remove("active")
    );

    closeBtn.addEventListener("click", () =>
        section.classList.remove("active")
    );
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var videos = document.querySelectorAll('video');

        videos.forEach(function(video) {
            video.addEventListener('playing', function() {
                var videoContainer = this.closest('.video-container');
                if (videoContainer) {
                    var rect = videoContainer.getBoundingClientRect();
                    var isInViewport = (
                        rect.top >= 0 &&
                        rect.left >= 0 &&
                        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                    );
                    if (!isInViewport) {
                        this.pause();
                    }
                }
            });
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var videos = document.querySelectorAll('.video');

        videos.forEach(function(video) {
            video.addEventListener('mouseenter', function() {
                this.play();
            });

            video.addEventListener('mouseleave', function() {
                this.pause();
            });
        });
    });

</script>
<script>
    setInterval(reeceptionMesaage, 500)
    let displayedMessageIds = new Set();

    function afficherMessages(data) {
        let utilisateur_detail_id = document.querySelector('.conversation_message').dataset.utilisateurId;
        let conversationWrappers = document.getElementById('conversation-wrappers');

        data.forEach((message) => {
            if (displayedMessageIds.has(message.id)) {
                return;
            }
            let chatMessageBox = document.createElement("li");
            if (message.recoi_id != utilisateur_detail_id) {
                chatMessageBox.classList.add("conversation-item", "me");
            } else {
                chatMessageBox.classList.add("conversation-item");
            }
            let contenuHTML = '';
            if (message.images) {
                contenuHTML += `<p class="message-image"><img class="img-fluid message-image_afficher" src="${message.images}" alt="Image"></p>`;
            } else if (message.audio) {
                contenuHTML += `
        <div class="message-audio">
            <audio controls>
                <source src="${message.audio}" type="audio/webm">
            </audio>
        </div>
    `;
            } else if (message.contenu_message) {
                contenuHTML += `<p class="message-text">${message.contenu_message}</p>`;
            }

            chatMessageBox.innerHTML = `
    <div class="conversation-item-side">
        <img class="conversation-item-image" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
    <div class="conversation-item-content">
        <div class="conversation-item-wrapper">
            <div class="conversation-item-box">
                <div class="conversation-item-text">
                    ${contenuHTML}
                    <div class="conversation-item-time">${message.timestamp}</div>
                </div>
            </div>
        </div>
    </div>
`;

            conversationWrappers.appendChild(chatMessageBox);

            displayedMessageIds.add(message.id);
        });
    }


    let lastMessageId = null;
    function reeceptionMesaage() {
        let utilisateur_detail_id = document.querySelector('.conversation_message').dataset.utilisateurId;
        if (utilisateur_detail_id) {
            let url = `{% url "Utilisateur:reception_message" %}?utilisateur_detail_id=${utilisateur_detail_id}`;
            if (lastMessageId) {
                url += `&since_id=${lastMessageId}`;
            }

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log('Données reçues:', data);
                    if (data.length > 0) {
                        afficherMessages(data);
                        lastMessageId = data[data.length - 1].id;
                        console.log('Nouveau lastMessageId:', lastMessageId);
                    }
                })
                .catch(error => {
                    console.log("Erreur lors de la récupération des messages:", error);
                });
        }
    }
    setInterval(reeceptionMesaage, 300);
</script>
<script src="https://vjs.zencdn.net/5.10.4/video.js"></script>
<script src="{% static 'accueil_utilisateur/js/moment.min.js' %}"></script>
</body>
</html>