{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'inscription_connexion/style.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />
    <title>Inscription</title>
</head>
<body>
    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <img src="{% static 'chater_logo.png' %}" alt="chater_logo" style="width: 150px">
            </div>
            <div class="login-card-header">
                <h1>Inscription</h1>
                <div>Saisissez des informations correctes</div>
            </div>
            <form method="post" class="login-card-form" action="{% url 'Utilisateur:Inscription' %}" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="d-flex align-items-start py-3 border-bottom justify-content-center">
                    <div class="img-container d-flex flex-column align-items-center" style="text-align: center;">
                        <img id="profileImage" src="#" class="img" alt="Profile Image" style="border-radius: 50%; width: 100px; display: none; margin: auto;">
                        <label for="fileInput" style="cursor: pointer; margin-top: 10px;">
                            <i class="bi bi-camera" style="font-size: 30px;"></i>
                        </label>
                        <input type="file" id="fileInput" accept="image/*" style="display: none;" >
                    </div>
                </div>
                {% if form.image.errors %}<span style="font-size: 12px">Selectionner une image</span> {% endif %}
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">person</span>
                    <input type="text" placeholder="Nom" id="emailForm"
                    autofocus required name="nom" {% if form.nom.errors %}style="border: 2px solid red" {% endif %} value="{{ form.nom.value }}">
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">person</span>
                    <input type="text" placeholder="Prénom" id="passwordForm"
                     required name="prenom" {% if form.prenom.errors %}style="border: 2px solid red" {% endif %} value="{{ form.prenom.value }}">
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">phone</span>
                    <input type="number" placeholder="Telephone" id="passwordForm" required name="username"
                           {% if form.username.errors %}style="border: 2px solid red;" {% endif %}
                           value="{{ form.username.value }}">
                    {% if form.username.errors %}<span style="font-size: 12px">Ce compte existe déjà</span> {% endif %}
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="Mot de passe" id="passwordForm" required name="password1" {% if form.password2.errors %}style="border: 2px solid red" {% endif %}  value="{{ form.password1.value }}">
                </div>

                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="Confirmé" id="passwordForm" required name="password2" {% if form.password2.errors %}style="border: 2px solid red" {% endif %}>
                    {% if form.password2.errors %}<span style="font-size: 12px">les deux mots de passe ne correspondent pas.</span> {% endif %}
                </div>
                <div class="form-item-other">
                    <a href="#">Mot de passe oublié 😟!</a>
                </div>
                <button id="submitButton" type="submit">S'inscrire</button>
            </form>
            <div class="login-card-footer">
                J'ai deja un compte <a href="{% url 'Utilisateur:Connexion_utlisateur' %}">Se connecter ?</a>
            </div>
        </div>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const fileInput = document.getElementById('fileInput');
        const profileImage = document.getElementById('profileImage');
        fileInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    profileImage.src = e.target.result;
                    profileImage.style.display = 'block';
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('.login-card-form');
        const submitButton = document.getElementById('submitButton');
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            submitButton.disabled = true;
            submitButton.classList.add('loading');
            form.submit();
        });
    });
</script>
</html>