
<style>
    .navbar{
        display: flex;
        height: 70px;
        padding: 0 8%;
        box-shadow: var(--shadow);
        position: fixed;
        top: 0;
        cursor: pointer;
        width: 100%;
        transition: opacity 0.3s ease;
        left: 0;
        right: 0;
        font-size: 25px;
        {% if request.user.theme_sombre %}
            background-color:#020101;
            color: white;
        {% else %}
            background-color: rgb(255, 255, 255);
        {% endif %}
    }
    #publication-action-icon {
        cursor: pointer;
        width: 40px;
        height: 40px;
        transition: opacity 0.3s ease;
    }
#photo-icon {
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease;
}

    #photo-icon:hover {
        opacity: 0.7;
    }
.navbar i {
    margin: 10px;
}
</style>



    <nav class="navbar">
        <i  id="publication-action-icon" class="bi bi-fonts"></i>
        <i  id="video-icon" class="bi bi-camera-video" ></i>
        <i  id="photo-icon" class="bi bi-patch-plus" ></i>


        <div class="profile-dropdown" style="margin-left: auto;">
            <div onclick="toggle()" class="profile-dropdown-btn">
                <div class="profile-img">
                    <img class="profile-img" style="" src="{{ request.user.image.url }}">
                </div>
            </div>

            <ul class="profile-dropdown-list">
                <li class="profile-dropdown-list-item">
                    <a href="{% url 'Utilisateur:parametre' %}">
                        <i class="fa-solid fa-sliders"></i>
                        Parametre
                    </a>
                </li>
                <hr />
                <li class="profile-dropdown-list-item">
                    <a href="#" onclick="deconnexion();">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        Déconnexion
                    </a>
                </li>
            </ul>
        </div>
    </nav>