

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    font-family: 'Inter', sans-serif;
}
.conversation {
    width: 100%;
    margin-top: 60px;
    overflow: hidden;
    padding: 10px;
        display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.publication{
    border-top: 2px gray;
    padding: 10px;
}


.action-button i {
    font-size: 21px;
}
.publication-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}
.user-name {
    margin: 0;
    font-weight: bold;
}

.publication-content {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.publication-image {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.publication-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.liked {
    color: #c82dce;
}



:root {
    --primary: #eeeeee;
    --secondary: #227c70;
    --green: #82cd47;
    --secondary-light: rgb(34, 124, 112, 0.2);
    --secondary-light-2: rgb(127, 183, 126, 0.1);
    --white: #fff;
    --black: #393e46;
    --shadow: 0px 2px 8px 0px var(--secondary-light);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.no-background {
  background: none;
}











.comment-section {
    position: fixed;
    bottom: 0;
    padding: 16px;
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    max-height: 80%;
    min-height: 300px;
    left: 0;
    right: 0;
    z-index: 1002;
}

.comment {
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
    width: 100%;
    margin-left:   auto;
    right: 0;
}
.commentaire-container{
    overflow-y: auto;
    max-height: 800px;
    padding-bottom: 500px;
}
.commentaire-container::-webkit-scrollbar {
    display: none;
}
.comments-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.comments-header span {
    font-size: 16px;
    font-weight: bold;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}


.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}
.utilisateur_image_com{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.username {
    font-weight: bold;
}
.comment-count-container{
    background-color: rgb(229 231 237);
    height: 32px;
    display: flex;
    justify-content: center;
    width: 70px;
    align-items: center;
    border-radius: 20px;
    color: #521919;
}
.date {
    font-size: 12px;
    color: #888;
}

.comment-text {
    margin-bottom: 4px;
}
.commentaire-section-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    background-color: white;
    margin-top: 5px;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.likes::before {
    margin-right: 4px;
}

.replies {
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
}


.emoji {
    background: none;
    border: none;
    font-size: 24px;
    margin-right: 8px;
    cursor: pointer;
}

.comment-input {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
}


.reply-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}


.comment-input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-right: 5px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}
.reponse-commentaire-section-footer{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    background-color: white;
    margin-top: 5px;
}

.overlay-reponse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: hidden;
}


.reply-item {
    margin-left: 40px;
}

.reply-header {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.reply-header .user-info {
    margin-left: 10px; /* Ajoutez une marge à gauche pour séparer l'image du nom */
}
