
.chat-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
}
.conversation-top {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    top: 0;
    padding: 10px 15px;
    width: 100%;
    left: 0;
    right: 0;
    border-bottom: 1px solid #c0bebe;
}
.coversation-divider{
    text-align: center;
    margin-bottom: 10px;
}
.conversation-back {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.conversation-user {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.conversation-user-image {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.conversation-user-name {
    font-weight: bold;
}

.conversation-user-status {
    font-size: 14px;
}

.conversation-buttons button {
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}

.conversation-main {
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 200px;
    margin-top: 1px;
    padding-top: 100px;

}
.conversation-main::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.conversation-main::-webkit-scrollbar-corner {
    display: none;
}


.conversation-item {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.conversation-item.mon-message {
    justify-content: flex-start;
}

.conversation-item-content {
    max-width: 70%;
    background-color: #0950d9;
    border-radius: 20px;
    padding: 10px 15px;
    color: #fff;
    font-size: 12px;
}

.mon-message .conversation-item-content {
    background-color: rgb(228, 230, 235);
    color: #0a0a0a;
}

.conversation-item-time {
    font-size: 12px;
    color: #a7a8a9;
    margin-top: 5px;
}
.conversation-form {
    display: flex;
    align-items: center;
    background-color: white;
    border-top: 1px solid #c0bebe;
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.conversation-form-group {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 10px;
    box-sizing: border-box;
}

.conversation-form-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
    border-radius: 20px;
    padding: 10px;
}

.conversation-form-button {
    color: #65676b;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    box-sizing: border-box;
    flex-grow: 1;
    border-radius: 20px;
    padding: 10px;
    resize: none;
}

.conversation-form-submit {
    color: #033598;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.conversation-form-record {
    color: #65676b;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
}

@media (max-width: 600px) {
    .conversation-top {
        align-items: flex-start;
        display: flex;
    }

    .conversation-form-group {
        margin: 0 5px;
        padding: 5px;
    }

    .conversation-form-input {
        font-size: 14px;
    }

    .conversation-form-button, .conversation-form-submit {
        font-size: 18px;
        padding: 5px;
    }
}


.loading {
    font-size: 24px;
    color: #4267b2;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}





.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
