    .navbar{
        display: flex;
        height: 70px;
        padding: 0 8%;
        box-shadow: var(--shadow);
        position: fixed;
        top: 0;
        width: 100%;
        transition: opacity 0.3s ease;
        left: 0;
        right: 0;
        font-size: 25px;
        background-color: white;
        align-items: center;
        z-index: 21;
        border-bottom: 1px solid gray;
    }
.navbarBublication {
    padding: 20px 8%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 300px;
    right: 0;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 40;
    background-color: aliceblue;
}

.navbarBublication p {
    margin-top: 20px;
    font-size: 16px;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    width: 100%;
}

.navbarBublication i {
    margin-right: 10px;
    font-size: 28px;
}

    #publication-action-icon {
        cursor: pointer;
        width: 40px;
        height: 40px;
        transition: opacity 0.3s ease;
    }
#photo-icon {
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease;
}

    #photo-icon:hover {
        opacity: 0.7;
    }
.navbar i {
    margin: 10px;
}
.profile-dropdown-btn{
    border: none;
    margin-top: 10px;
}

    #publicationSection {
        position: fixed;
        width: 100%;
        background-color: #fff;
        border: 1px solid #dddfe2;
        border-radius: 8px;
        padding: 16px;
        margin-top: 16px;
        z-index: 100;
        overflow-x: auto;
        top: 0;
        height: 100%;

    }
        #publicationForm {
        margin-bottom: 16px;
        overflow-y: auto;
        max-height: 400px;
    }
         #texteInput {
        width: 100%;
        padding: 12px;
        border: 1px solid #dddfe2;
        border-radius: 8px;
        margin-bottom: 12px;
        resize: none;
    }
    #texteInput1 {
        width: 100%;
        padding: 12px;
        border: 1px solid #dddfe2;
        border-radius: 8px;
        margin-bottom: 12px;
        resize: none;
    }

    #texteInput2 {
        width: 100%;
        padding: 12px;
        border: 1px solid #dddfe2;
        border-radius: 8px;
        margin-bottom: 12px;
        resize: none;
    }
    #preview {
        border-top: 1px solid #dddfe2;
        padding-top: 16px;
    }

    #textePreview {
        padding: 12px;
        border-radius: 8px;
        margin-bottom: 12px;
        min-height: 200px;
        max-height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        color: white;
    }
        #videoPreview {
        padding: 12px;
        border-radius: 8px;
        margin-bottom: 12px;
        min-height: 200px;
        max-height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        color: white;
    }

    #publicationButton {
        background-color: #1877f2;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 12px 24px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s ease;
    }

    #publicationButton:hover {
        background-color: #166fe5;
    }
    .dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 40;
}

.dark-overlay.visible {
    display: block;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Applique l'animation de rotation à l'icône */
.rotating {
  animation: rotate 1s infinite linear;
}

