*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.le-fond{
    margin-left: 50%;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 20px;
}

.logo {
    width: 4rem;
    margin-right: -0.25rem;
}



.card__inner {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    position: relative;
    max-width: 330px;
    min-width: 280px;
    height: 230px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 1rem;
    transition: transform 600ms ease;
    transform-style: preserve-3d;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}





.card__front {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    top: 0;
    max-width: 330px;
    min-width: 280px;
    height: 100%;
    border-radius: 0.6rem;
    overflow: hidden;
    backface-visibility: hidden;
    color: #fff;
    background: linear-gradient(135deg, #181502, #231607, #071a07);
    background-size: 600% 600%;
    animation: gradientAnimation 5s ease infinite;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.logo {
    position: absolute;
    top: 2rem;
    right: 1rem;
    z-index: 2;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.chip {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 2.5rem;
    top: 2.25rem;
    border-radius: 0.3rem;
    background-image:
            linear-gradient(to bottom left,
            #ffecc7, #d0b978);
    overflow: hidden;
}

.chip .chip-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #303030;
}

.chip .chip-line:nth-child(1) {
    top: 13px;
}

.chip .chip-line:nth-child(2) {
    top: 20px;
}

.chip .chip-line:nth-child(3) {
    top: 28px;
}

.chip .chip-line:nth-child(4) {
    left: 25px;
    width: 1px;
    height: 50px;
}

.chip .chip-main {
    width: 1.25rem;
    height: 1.45rem;
    border: 1px solid #333;
    border-radius: 0.1875rem;
    background-image:
            linear-gradient(to bottom left,
            #efdbab, #e1cb94);
    z-index: 1;
}

.wave {
    position: absolute;
    left: 4.5rem;
    top: 4.25rem;
    width: 2.5rem;
    height: 2.5rem;
}

.card-number {
    display: flex;
    margin-top: auto;
    gap: 0.75rem;
    font-size: 1.3rem;
}

.card-holder {
    text-transform: uppercase;
    display: flex;
}

.card-info__bottom {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-info__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.mastercard {
    display: flex;
}

.mastercard .circle {
    width: 2rem;
    height: 2rem;

}

.mastercard .circle--red {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid red;
}

.mastercard .circle--yellow {
    margin-left: -0.7rem;
    border-radius: 50%;
    background: rgba(106, 183, 33, 0.6);
}

.card-holder,
.card-number,
.exp-date,
.card-signature-headline {
    background-image:
            linear-gradient(to bottom, #ededed 30%,
            #c2c2c2 70%),
            linear-gradient(120deg, transparent 10%,
            white 40%, white 60%,
            transparent 90%);

    background-size: cover, cover, 200%;
    background-position: 50% 50%;
    background-blend-mode: overlay;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(1px 1px 1px rgba(black, 0.3));
}

.card-strip {
    min-height: 3rem;
    width: 100%;
    margin-top: 2.5rem;
    background: #000000;
}

.card-signature {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #021318;
    font-family: 'Allura', cursive;
    padding: 0.25rem 2.5rem;
    font-size: 1.25rem;
    height: 2rem;
    font-weight: bold;
    width: 15rem;
}

.card-ccv {
    background: white;
    height: 1.5rem;
    font-weight: bold;
    padding: 0 0.25rem;
    display: flex;
    align-self: end;
    align-items: center;
    margin-bottom: 0.25rem;
}

.card-signature-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.card-signature-headline {
    content: 'Authorized Signature';
    color: white;
    font-size: 0.75rem;
}

.card-signature-wrapper {
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    color: black;
    padding: 0 2rem;
}








.container {
    width: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow-y: auto;
}
.container::-webkit-scrollbar{
    display: none;
}
.header-top {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #940893;
    color: white;
}

.backs-icon {
    position: fixed;
    font-size: 34px;
    margin-right: auto;
    color: white;
}

.balance {
    font-size: 24px;
    font-weight: bold;
}

.qr-section {
    display: flex;
    align-items: center;
    padding: 40px;
    border-radius: 8px;
    max-height: 100px;
    margin: 10px;
    background-color: #6d339d;
}


.scanner-text {
    font-size: 18px;
    display: flex;
    color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    background-color: #4bc3d3;
}

.menu-carte {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6200ee;
}

.menu-icon {
    font-size: 24px;
}

.menu-text {
    margin-top: 5px;
    font-size: 14px;
    color: #860ee9;
}

.transactions {
    padding: 10px 20px;
    overflow-y: auto;
}

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.transaction-detail {
    display: flex;
    flex-direction: column;
}

.transaction-type {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.transaction-date {
    font-size: 12px;
    color: #999;
}

.transaction-amount {
    font-size: 16px;
    font-weight: bold;
}

.positive {
    color: green;
}

.negative {
    color: red;
}