

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--slate-700);

}

.conversation {
    display: none;
    width: 100%;
    margin-top: 90px;
    overflow: hidden;
    padding: 10px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.conversation.active {
    display: flex;
    flex-direction: column;
}

.video-container {
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    position: relative;
    margin-bottom: 20px;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.full-screen-video {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100vh;
}

.full-screen-video video {
    max-width: 100%;
    max-height: 100%;
}
.publication-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}
.user-name {
    margin: 0;
    font-weight: bold;
}

.publication-time {
    margin: 0;
    font-size: 0.9rem;
    color: gray;
}

.publication-content {
    margin-bottom: 10px;
}

.publication-image {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}
.publication-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.action-button {
    border: none;
    background-color: #f0f2f5;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}

.action-button:hover {
    background-color: #e9ebee;
}

.comments-section {
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    position: relative;
    margin-bottom: 60px;
        border-top: 1px solid #ccc;
}

.commentaire-form {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    padding: 10px;
    background-color: #f9f9f9; /* Fond clair */
    border-top: 1px solid #cccccc;
    z-index: 1;
    box-sizing: border-box;

}
.comment {
    box-sizing: border-box;
    padding: 10px; /* Espacement interne pour chaque commentaire */
    border-bottom: 1px solid #e0e0e0; /* Bordure inférieure pour séparer les commentaires */
    margin-bottom: 10px;
}

.commentaire-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.commentaire-form button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.liked {
    color: red;
}
.action-button.liked i {
    color: #ff4d4d;
}
.comment-count {
    font-size: 1rem;
    color: #888;
    margin-left: 5px;
}
.likes-container {
    display: flex;
    align-items: center;
}
.comment-count-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likes-container button,
.likes-container span {
    margin-right: 5px;
}
.comment-count-container button,
.comment-count-container span {
    margin-right: 5px;
}
.comment-actions {
    display: flex;
    gap: 10px;
}
.comments-container {
    width: 100%;
    border: 1px solid #cccccc;
    padding: 10px;
    margin-top: 10px;
    background-color: #dcd9d9;
    border-radius: 5px;
}



.comment-user {
    font-weight: bold;
    color: #333333;
}

.comment-text {
    margin: 5px 0;
    color: #666666;
}


.comment-time {
    font-size: 12px;
color: #999999;
}
@media (max-width: 480px) {
    .commentaire-form {
        width: 100%;
    }
    .comments-container {
        width: 100%;
    }
}

.content-message-unread i {
    color: #007bff;
    font-size: 20px;
}
.lien-utilisateur {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

:root {
    --primary: #eeeeee;
    --secondary: #227c70;
    --green: #82cd47;
    --secondary-light: rgb(34, 124, 112, 0.2);
    --secondary-light-2: rgb(127, 183, 126, 0.1);
    --white: #fff;
    --black: #393e46;
    --shadow: 0px 2px 8px 0px var(--secondary-light);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}




.playerContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  border-radius: 1em;
  overflow: hidden;
}

.videoPlayer {
  border-radius: 1em;
  z-index: -1;
}

.controlsContainer {
  margin-top: -3.5em;
}

.controls {
  display: flex;
  z-index: 1;
  color: white;
  width: 200px;
  justify-content: space-between;
}

.controlButton {
  border: none;
  background: none;
}

.timeline {
  width: 70%;
}

.duration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlButton:hover {
  cursor: pointer;
}
.comment {
  margin-bottom: 20px;
    border-bottom: 5px solid #111111;
  padding-bottom: 15px; /* Espace entre les commentaires */
}
.comment:last-child {
  border-bottom: none; /* Supprime la ligne de séparation pour le dernier commentaire */
}

.comment-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-user-info img {
  width: 40px; /* Ajustez la taille de l'image selon vos préférences */
  height: 40px; /* Ajustez la taille de l'image selon vos préférences */
  border-radius: 50%; /* Pour créer une forme circulaire */
  margin-right: 10px; /* Espacement entre l'image et le nom de l'utilisateur */
}

.comment-user {
  font-weight: bold;
  margin: 0;
}

.comment-text {
  margin-bottom: 5px;
}

.comment-time {
  font-size: 12px;
  color: #888;
}
